In [1]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
import numpy as np
from sklearn.model_selection import train_test_split

Data Source: https://archive.ics.uci.edu/ml/datasets/Credit+Approval

In [2]:
bin_data = pd.read_csv('binary_data_sample.csv')

In [3]:
bin_data.head()

        x1      x2      x3       x4  y
0  3.62160  8.6661 -2.8073 -0.44699  0
1  4.54590  8.1674 -2.4586 -1.46210  0
2  3.86600 -2.6383  1.9242  0.10645  0
3  3.45660  9.5228 -4.0112 -3.59440  0
4  0.32924 -4.4552  4.5718 -0.98880  0

In [4]:
bin_data.shape

(1372, 5)

In [5]:
bin_data.describe()

                x1           x2           x3           x4            y
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [6]:
bin_data.isnull().sum(axis=0)

x1    0
x2    0
x3    0
x4    0
y     0
dtype: int64

In [7]:
X_train, X_test, y_train, y_test = train_test_split(bin_data.drop(columns=['y']), bin_data['y'], test_size=0.25, random_state=42)

In [8]:
clf =LogisticRegression()

clf.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [9]:
clf.coef_

array([[-2.90955146, -1.64194091, -1.968373  , -0.13877469]])

In [10]:
y_pred = clf.predict(X_test)

In [11]:
predictions = pd.DataFrame(list(zip(y_test.values, y_pred)),columns=['actual','prediction'])

In [12]:
TP = len(predictions[(predictions['actual']==1)&(predictions['prediction']==1)])
FP = len(predictions[(predictions['actual']==0)&(predictions['prediction']==1)])
TN = len(predictions[(predictions['actual']==0)&(predictions['prediction']==0)])
FN = len(predictions[(predictions['actual']==1)&(predictions['prediction']==0)])

In [13]:
print('True Positives count: %d'%(TP))
print('False Positives count: %d'%(FP))
print('True Negatives count: %d'%(TN))
print('False Negatives count: %d'%(FN))
print('Precision: %0.4f'%(TP/(TP + FP)))
print('Recall: %0.4f'%(TP/(TP + FN)))

True Positives count: 150
False Positives count: 2
True Negatives count: 189
False Negatives count: 2
Precision: 0.9868
Recall: 0.9868